/* App.css */
.app {
  display: flex;
  height: 100vh;
}

.right-panel {
  background-color: #f0f0f0;
  padding: 20px;
  border-left: 1px solid #ccc;
}

.download-image-panel {
  margin-top: 10px;
}

.panel-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.compression-control {
  margin-top: 10px;
}

.action-history-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-header span {
  margin-left: 8px;
}

.card-body {
  text-align: left;
}

.action-history-card {
  background-color: transparent;
  color: gray;
  /* Add other styles for the inactive state */
}

.action-history-card.active {
  background-color: white; /* or any other color for active state */
  color: black;
  /* Add other styles for the active state */
}