/* ActionHistoryPanelComponent.css */

/* Action History Panel Component */
.action-history-panel-slider {
  max-height: 85%;
  overflow-y: auto;
  text-align: center;
}

.panel-header {
  align-items: center;
  justify-content: space-between;
}

.clear-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.clear-button:hover {
  background-color: #45a049;
}

.panel-text {
  font-weight: bold;
}

.history-panel-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 10px 15px;
  color: #000; /* Set your desired text color */
  margin-bottom: 10px; /* Adjust spacing as needed */
}


/* Action History Card Component */
.action-history-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.inactive {
  animation: fadeOut 0.5s ease-out;
  opacity: 0.4;
}

.active {
  background-color: white;
  color: black;
  /* Add other styles for the active state */
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-header span {
  margin-left: 8px;
}

.card-body {
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}

/* Responsive Styles */
@media screen and (max-width: 1000px) {
  .action-history-panel {
    display: none; /* Make the panel disappear on smaller screens */
  }
}
